<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Trang Quản Trị </title>
    </head>
    <body> 
           <div th:replace="admin/template/header:: header" />
           <div th:replace="admin/template/sidebar:: sidebar" />
           <div th:replace="admin/template/content:: content" />
           <div th:replace="admin/template/footer:: footer" />
    </body>
</html>
 