<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html>
	<head>
	
	<title>Thông tin tài khoản</title>
	</head>

	
	<body>
		
		<!----start-Header---->
	 	<div th:replace="client/include/homeHeader:: homeHeader" />
		<!----End-Header---->
		 
		 <div th:replace="client/include/accountContent:: accountContent" />
		   
		<!----start-Footder---->
		<div th:replace="client/include/homeFooter:: homeFooter" />
		<!----End-Footder---->
	</body>
</html>

