
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Laptop Shop </title>
    </head>
    <body> 
           <div th:replace="client/include/homeHeader:: homeHeader" />

           <div th:replace="client/include/shippingContent:: shippingContent" />
           
           <div th:replace="client/include/homeFooter:: homeFooter" />

    </body>
</html>


		